PB = ('pb', 'test')
# a slave is described as (name, passwd, builders), where builders is an
# iterable of builder names
SLAVES = [('local1', 'test', 'CPS-3.5-full-Zope-2.9'),]

# authenticated users on the webstatus server will have managing options
USERS = [('alice', 'secret-pass')]