PB = ('pb', 'test')
# a slave is described as (name, passwd, builders), where builders is an
# iterable of builder names
# CAUTION: all builders must be present in at least one slave
SLAVES = [('local1', 'test', 'CPS-3.5-full-Zope-2.9'),]
